a.button, button {
  font-family: 'Open Sans', sans-serif;
  background: $peter-river;
  border: none;
  padding: 0.5rem 2rem;
  padding-bottom: 0.4rem;
  color: white;
  border-radius: 0.5rem;
  text-align: center;
  transition: all 0.135s;
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  @extend %shadow;
  user-select: none;

  &:hover {
    background: $belize-hole;
  }

  &:active {
    box-shadow: none;
    background: $belize-hole;
  }

  &:focus {
    outline: none;
    background: $belize-hole;
  }

  > span.ss-icon {
    vertical-align: middle;
    margin-right: 0.5rem;
    font-size: 1.25rem;
  }

  &.-success {
    background: $emerald;
    &:hover {
      background: $nephritis;
    }
  }

  &.-caution {
    background: $carrot;
    &:hover {
      background: $pumpkin;
    }
  }
}
