body {
  color: $midnight-blue;
  background: $clouds;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  color: $wet-asphalt;
}
