.county-box {
  @extend %box;
  margin-top: 1rem;

  > .balance {
    color: $emerald;
    
    &.-deficit {
      color: $alizarin;
    }

    &.-surplus {
      color: $emerald;
    }
  }
  
  .projected {
    color: $asbestos;
    margin-top: 0.25rem;
    font-size: 0.9rem;
  }
}
