.state-box {
  @extend %box;

  *:last-child {
    margin-bottom: 0;
  }

  table {
    width: 100%;
    tr {
      td {
        text-align: right;

        &:last-child {
          font-weight: bold;
        }
      }
    }
  }
}
